/*-- ============================ NAVBAR  ============================ --*/
/*navbar*/
#navmenu {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #222222;
}

/*-- ============================ HOME  ============================ --*/
#container-home {
    /* background:#04C273; */
    font-family: 'Oswald', sans-serif;
    color: #f5f5f5;
  }
  /* #container-home img{
    height: 500px;
    width: 500px;
  } */
  #container-home h1{
    font-weight: bold;
    font-size: 1em;
    color: #04C273;
  }
  #container-home button{
    color: rgb(233, 233, 233);
    text-decoration: none;
    border-radius: 8px;
    border-color: #04C273;
    background: #04A3B5;
    height: 30px;
  }
.description{
  font-size: 0.5em;
  color: #f5f5f5;
}
 /*giriş*/

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*giriş*/

  /*-- ============================ Catalog  ============================ --*/
  #container-catolog {

    padding-top: 50px;
    color: #04C273;
    font-family: 'Oswald', sans-serif;
    text-align: center;
} 
#container-catolog span{
  color: #04A3B5;
}

/*-- ============================ back tor catalog  ============================ --*/
#back button{
  color: rgb(211, 218, 224);
  text-decoration: none;
  border-radius: 3rem;
  border-color: #04C273;
  background: #04C273;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px; 
  margin-bottom: 30px; 
  color: rgb(211, 218, 224);
  font-family: 'Oswald', sans-serif;
}
.footer1 {
  color: #04A3B5;
  font-family: 'Oswald', sans-serif;
}