@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Montserrat&family=Oswald&display=swap');

body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/*navbar*/
#navmenu {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #222222;
}

/*cingene*/
* {
  box-sizing: border-box;
}

.bedava {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: "Montserrat", san-serif;
}

.card2 {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(135deg, #04c273, #04a3b5);
}

.card2 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 450px;
  transition: 0.5s;
}

.card2:hover img {
  left: 80%;
  height: 500px;
}

.card2 .content {
  position: relative;
  width: 50%;
  left: 30%;
  padding: 16px 26px 26px 36px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card2:hover .content {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card2 .content h1 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.75em;
  font-family: "Oswald", sans-serif;
}

.card2 .content a {
  text-decoration: none;
  color:rgb(211, 211, 211);
}

.card2 .content h3 {
  font-size: 30px;
  line-height: 1.5em;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 991px) {
  .card2 {
    position: relative;
    width: auto;
    max-width: 600px;
    transition: 0.5s;
    align-items: flex-start;
  }
  .card2:hover {
    height: 600px;
  }
  .card2:hover img {
    left: 50%;
    height: 350px;
  }
  .card2 .content {
    width: 100%;
    left: 0;
    padding: 16px;
  }
}

/*home*/

.enter{
  min-height: 100vh;
}

#home {
  font-family: "Montserrat", sans-serif;
  color: #04c273;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
}

.lead {
  font-size: 20px;
}

.process {
  font-size: 40px;
  font-family: "Chela One", cursive;
  color: #04a3b5;
}

.lean {
  font-size: 45px;
  font-family: "Chela One", cursive;
  color: #04c273;
  line-height: 60px;
}

.desc {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #9e9e9e;
}

.desc1{
  font-size: 16px;
  font-weight: bold;
}

.website {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #222222;
  line-height: 40px;
}

/*waves*/
.vektor {
  width: 100%;
  height: 100%;
  background: rgba(4, 194, 115, 0.5);
}

/*tanıtım*/
.yacokkolay{
  min-height: 100vh;
}

#tanıtım {
  background: rgba(4, 194, 115, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.card1 {
  background: rgba(4, 194, 115, 0.11);
  border: none;
  color: #555555;
  border-radius: 30px;
  font-size: 20px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
}

.button {
  border: none;
  border-radius: 10px;
  color: white;
  background: #04a3b5;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* ya çok kolay paketleri */
#package {
  color: #04c273;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  min-height: 100vh;
}
.baslık {
  text-align: center;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
}

/* iletişim */
#iletişim {
  background: rgba(4, 194, 115, 0.5);
  font-family: "Montserrat", sans-serif;
  color: #222222c2;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  font-size: 20px;
}
.h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  color: #04c273;
}
.hr {
  color: #fff;
}

.subtitle {
  font-size: 15px;
  font-weight: normal;
  color: #222222;
}

.paragraph {
  color: #3d3d3d;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-style: bolder;
}

/*SSS*/
#questions {
  color: #04c273;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
}

.accordion-button {
  font-size: 16px;
  color: #04a3b5;
  font-weight: bold;
}

.SSS {
  font-size: 40px;
  margin: 2rem;
  font-family: "Oswald", sans-serif;
}

/*Ücretsiz Kataloga Erişin*/
#form {
  color: #04a3b5;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.basvuru {
  position: relative;
  /* height: 334.13px; */
  left: 356px;
  top: 60px;
}

.katalog-desc {
  font-size: 20px;
  line-height: 1.8em;
  color: #555555;
}

.katalog-title {
  font-family: "Oswald", sans-serif;
  color: #04a3b5;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}


/* Ek Hizmetler */
.ek{
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.list h2 {
  position: relative;
  font-weight: 500;
  font-size: 50px;
  color: #04a3b5;
}

.list ul li {
  position: relative;
  left: 0;
  color: #04c273;
  list-style: none;
  margin: 4px 0;
  border-left: 5px solid #04a3b5;
  transition: 0.5s;
  cursor: pointer;
}

.list ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #04a3b53d;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s;
}
.list ul li:hover::before {
  transform: scaleX(1);
}
.list ul li:hover {
  left: 10px;
}

.list ul li span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}

.list ul li:hover span {
  color: #04a3b5;
}
/*card*/
#ücretsiz-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d0e0ec;
}

.sablon{
  font-size: bolder;
  font-size: 20px;
  color: #04a3b5;
}

.sablon a{
  color: #04c273;
}

.card4{
  height: 300px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3),
              0 10px 20px rgba(0, 0, 0, .2);
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.c-1{
  background: url('./images/clothes.webp') no-repeat center/cover;
}
.c-2{
  background: url('./images/seo.webp') no-repeat center/cover;
}
.c-3{
  background: url('./images/yummy.webp') no-repeat center/cover;
}

.gif-container{
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 1em;
  
  transition: width .3s linear,
              height .3s linear;

  overflow: hidden;
}
.card4:hover .gif-container{
  width: 100%;
  height: 100%;
}
.gc-1{
  top: 0;
  left: 0;
}
.gc-2{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.gc-3{
  bottom: 0;
  right: 0;
}
.ücretsiz{
  width: 100%;
  height: 100%;
object-fit: cover;
}

.btn{
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border-inline: 50px;
}

.btn a {
color: #04a3b5;
font-size: 15px;
}

/*footer*/
.footer {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

/*footer1*/
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
  color: rgba(0, 0, 0, 0.829);
  font-size: 12px;
}

.footer .content a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.829);
}

.footer .content a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

/*sürec*/
#sürec{
  min-height: 100vh;
}
.pgb .step {
  text-align: center;
  position: relative;
}
.pgb h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  font-weight: bolder;
  color: #04c273;
}
.pgb .step p {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 3;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  opacity: 0.7;
}
.pgb .active.step p {
  opacity: 1;
  font-weight: 700;
}
.pgb .img-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4caf50;
  border: 4px solid #fff;
}
.pgb .complete .img-circle {
  background-color: #4caf50;
}
.pgb .active .img-circle {
  background-color: #04a3b5;
}
.pgb .step .img-circle:before {
  content: "";
  display: block;
  background: #4caf50;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 0;
  z-index: -1;
  margin-right: 24px;
}
.pgb .step .img-circle:after {
  content: "";
  display: block;
  background: #9e9e9e;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: -1;
}
.pgb .step.active .img-circle:after {
  background: #4caf50;
}

.pgb .step.complete .img-circle:after,
.pgb .step.active .img-circle:before {
  background: #4caf50;
}

.pgb .step:last-of-type .img-circle:after,
.pgb .step:first-of-type .img-circle:before {
  display: none;
}
.sürec-des {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

.dipnot{
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: #04c273;
  text-decoration: none;
  color: #04a3b5;
}

/*hr*/
.hr1 {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 100%;
}

/* -- Animated hr -- */
.progress {
  background: #04a3b5;
  height: 3px;
  overflow: hidden;
  position: relative;
}

.progress::before {
  animation-duration: 1.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: rgb(56, 0, 160);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 60px;
}

@keyframes progress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}
/*hr*/

/*-- ============================ ücretsz başvuru ============================ --*/
#container-home {
  font-family: 'Oswald', sans-serif;
  color: #f5f5f5;
  text-align: center;
  justify-content: center;
}

#container-home h1{
  font-weight: bold;
  font-size: 1em;
  color: #04C273;
}

.description{
font-size: 0.5em;
color: #f5f5f5;
line-height: 35px;
}

/*giriş*/

.video-background-holder {
position: relative;
background-color: black;
height: calc(100vh - 72px);
min-height: 25rem;
width: 100%;
overflow: hidden;
}

.video-background-holder video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
position: relative;
z-index: 2;
}

.video-background-overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: 1;
}

.btn a {
  color: #e9f5ff;
  text-decoration: none;
}