@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Montserrat&family=Oswald&display=swap");

body::before {
  display: block;
  content: "";
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/*navbar*/
#navmenu {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #222222;
}

/*cingene*/
* {
  box-sizing: border-box;
}

.bedava {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", san-serif;
}

.card2 {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(135deg, #04c273, #04a3b5);
}

.card2 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 450px;
  transition: 0.5s;
}

.card2:hover img {
  left: 80%;
  height: 500px;
}

.card2 .content {
  position: relative;
  width: 50%;
  left: 30%;
  padding: 16px 26px 26px 36px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.card2:hover .content {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card2 .content h1 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.75em;
  font-family: "Oswald", sans-serif;
}

.card2 .content a {
  text-decoration: none;
  color: rgb(211, 211, 211);
}

.card2 .content h3 {
  font-size: 30px;
  line-height: 1.5em;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 991px) {
  .card2 {
    position: relative;
    width: auto;
    max-width: 600px;
    transition: 0.5s;
    align-items: flex-start;
  }
  .card2:hover {
    height: 600px;
  }
  .card2:hover img {
    left: 50%;
    height: 350px;
  }
  .card2 .content {
    width: 100%;
    left: 0;
    padding: 16px;
  }
}

/*home*/
#home {
  font-family: "Montserrat", sans-serif;
  color: #04c273;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
}

.lead {
  font-size: 20px;
}

.process {
  font-size: 40px;
  font-family: "Chela One", cursive;
  color: #04a3b5;
}

.lean {
  font-size: 45px;
  font-family: "Chela One", cursive;
  color: #04c273;
  line-height: 60px;
}

.desc {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #9e9e9e;
  line-height: 40px;
}

.desc1 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #04c273;
  letter-spacing: 0.5px;
  line-height: 40px;
}

.website {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: #222222;
  line-height: 40px;
}


/*yacokkolay*/
.yacokkolay{
  padding: 20px;
}
.yacokkolay h1{
  color: #222222;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  line-height: 40px;
  font-weight: bold;
}
.yacokkolay p{
  color: #222222;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}
.yacokkolay a{
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* ya çok kolay paketleri */
#package {
  color: #04c273;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  min-height: 100vh;
}
.baslık {
  text-align: center;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
}



/*footer*/
.footer {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

/*footer1*/
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
  color: rgba(0, 0, 0, 0.829);
  font-size: 12px;
}

.footer .content a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.829);
}

.footer .content a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

/*sürec*/
#sürec {
  min-height: 100vh;
}
.pgb .step {
  text-align: center;
  position: relative;
}
.pgb h3 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  color: #04c273;
}
.pgb .step p {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  line-height: 55px;
  opacity: 0.7;
}
.pgb .active.step p {
  opacity: 1;
}
.pgb .img-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4caf50;
  border: 4px solid #fff;
}
.pgb .complete .img-circle {
  background-color: #4caf50;
}
.pgb .active .img-circle {
  background-color: #04a3b5;
}
.pgb .step .img-circle:before {
  content: "";
  display: block;
  background: #4caf50;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 0;
  z-index: -1;
  margin-right: 24px;
}
.pgb .step .img-circle:after {
  content: "";
  display: block;
  background: #9e9e9e;
  height: 4px;
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: -1;
}
.pgb .step.active .img-circle:after {
  background: #4caf50;
}

.pgb .step.complete .img-circle:after,
.pgb .step.active .img-circle:before {
  background: #4caf50;
}

.pgb .step:last-of-type .img-circle:after,
.pgb .step:first-of-type .img-circle:before {
  display: none;
}
.sürec-des {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #222222;
}

.dipnot {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: #04c273;
  text-decoration: none;
  color: #04a3b5;
}

/*hr*/
.hr1 {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 100%;
}


/* Ek Hizmetler */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}
.list h2 {
  position: relative;
  font-weight: 600;
  font-size: 50px;
  color: #04a3b5;
  letter-spacing: 5px;
  text-shadow: 0px 2px 10px #04a3b5;
  padding-bottom: 20px;  
}
.list ul li {
  position: relative;
  left: 0;
  color: #04c273;
  list-style: none;
  margin: 4px 0;
  border-left: 5px solid #04a3b5;
  transition: 0.5s;
  cursor: pointer;
  line-height: 50px;
}
.list ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #04a3b53d;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s;
}
.list ul li:hover::before {
  transform: scaleX(1);
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #04a3b5;
}
.btn {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border-inline: 50px;
}
.btn a {
  color: #04a3b5;
  font-size: 15px;
}
/*Ücretsiz Kataloga Erişin*/
#form {
  color: #04a3b5;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#ücretsiz-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d0e0ec;
}
.sablon {
  font-size: bolder;
  font-size: 20px;
  color: #04a3b5;
}
.sablon a {
  color: #04a3b5;
}
.card4 {
  height: 300px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.c-1 {
  background: url("./images/clothes.webp") no-repeat center/cover;
}
.c-2 {
  background: url("./images/seo.webp") no-repeat center/cover;
}
.c-3 {
  background: url("./images/yummy.webp") no-repeat center/cover;
}
/*Ücretsiz Kataloga Erişin*/

/*SSS*/
#questions {
  color: #04c273;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
  min-height: 100%;
  padding-top: 20px;
}

.accordion-button {
  font-size: 16px;
  color: #04a3b5;
  font-weight: bold;
}

.SSS {
  font-size: 50px;
  font-weight: bold;
  margin: 2rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  text-shadow: 0px 0px 40px #222222;
}
.accordion-item {
  padding: 25px;
}

.collapsed {
  line-height: 30px;
}